<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <!-- <script src="../js/app.js" type="text/javascript"></script> -->

  <!-- <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css"> -->
</head>

<body>
  <div id="app">
    <h1>VISITOUR</h1>
    <div class="holder_headline">
      <h3>Let Us Plan Your Next Adventure</h3>
    </div>
    <div class="holder zip">
      <label for="zip">Enter Zipcode here</label>
      <input type="text" id="zip" placeholder="enter zip code here">
    </div>
    <div class="holder destination">
      <label for="destination">Enter Destination here</label>
      <input id="destination"type="text" placeholder="Destination">
    </div>
    <div class="holder depart">
      <label for="departure">Enter the date of departure</label>
      <input id="departure" placeholder="departure">
    </div>
    <div class="holder return">
      <label for="return">Enter the date of return</label>
      <input id="return" placeholder="return">
    </div>
    <div>
      <button id="generate" type="submit"> Generate </button>
    </div>
    <div class="holder entry">
      <div class="title">Most Recent Entry</div>
      <div id="entryHolder">
        <div id="date"></div>
        <div id="city"></div>
        <div id="temp"></div>
        <div id="weather"></div>
        <div id="content"></div>
      </div>
    </div>
  </div>
  <!-- <script src="../../client/js/app.js" type="text/javascript"></script> -->
  <!-- <script src="../js/app.js"></script> -->
</body>

</html>